body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }

  .reloj {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .reloj svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .reloj .manecilla {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 50%;
    background-color: #000;
    transform-origin: 50% 100%;
    transform: translate(-50%, -100%);
  }

  .reloj .manecilla.hora {
    height: 40%;
    animation: rotarHora 43200s infinite linear;
    background-color: #000000;
  }

  .reloj .manecilla.minuto {
    height: 35%;
    animation: rotarMinuto 3600s infinite linear;
    background-color: #412929a4;
  }

  .reloj .manecilla.segundo {
    height: 25%;
    animation: rotarSegundo 60s infinite linear;
    background-color: #a10202;
  }

  @keyframes rotarHora {
    from {
      transform: translate(-50%, -100%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -100%) rotate(360deg);
    }
  }

  @keyframes rotarMinuto {
    from {
      transform: translate(-50%, -100%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -100%) rotate(360deg);
    }
  }

  @keyframes rotarSegundo {
    from {
      transform: translate(-50%, -100%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -100%) rotate(360deg);
    }
  }